<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4289e2f8beb11849bfc885ec763c9c0c416</key>
	<date>2021-07-20T11:42:15Z</date>
	<key>48c1b5bae70e005b658d2a862d144e70416</key>
	<date>2021-07-20T11:43:58Z</date>
	<key>AlwaysShowFileList</key>
	<false/>
	<key>ApplicationAppearanceMode</key>
	<integer>2</integer>
	<key>ApplicationAutoSaveState</key>
	<dict>
		<key>ApplicationBuildNumber</key>
		<integer>416056</integer>
		<key>DisplayConfiguration</key>
		<string>displays([(0, 0), (1920, 1080)])</string>
		<key>OpenDocuments</key>
		<dict>
			<key>D9FBA3B7-B5F7-4D42-B0D6-A5683A24CBDF</key>
			<dict>
				<key>DocumentProperties</key>
				<dict>
					<key>EditorState</key>
					<dict>
						<key>MainScrollBar</key>
						<integer>0</integer>
						<key>SelectionEnd</key>
						<integer>0</integer>
						<key>SelectionStart</key>
						<integer>0</integer>
					</dict>
					<key>EncodingName</key>
					<string>Unicode (UTF-8)</string>
					<key>LanguageName</key>
					<string>Markdown</string>
					<key>LineEnds</key>
					<string>LF  </string>
					<key>MarkerData</key>
					<data>
					UipjaAAAAAEAAAAA
					</data>
				</dict>
				<key>Location</key>
				<string>-unsaved-</string>
				<key>UntitledName</key>
				<string>untitled text</string>
				<key>com.barebones.DocumentType</key>
				<string>Text</string>
			</dict>
		</dict>
		<key>OpenWindows</key>
		<array>
			<dict>
				<key>ActiveDocument</key>
				<string>D9FBA3B7-B5F7-4D42-B0D6-A5683A24CBDF</string>
				<key>AdditionalProperties</key>
				<dict>
					<key>EmbeddedEditorVisible</key>
					<true/>
					<key>FileListVisible</key>
					<false/>
					<key>IsFullScreen</key>
					<false/>
					<key>OpenDocumentSplitProportion</key>
					<real>0.0</real>
					<key>ProjectListWidthAsFraction</key>
					<real>0.23000000000000001</real>
				</dict>
				<key>Documents</key>
				<array>
					<string>D9FBA3B7-B5F7-4D42-B0D6-A5683A24CBDF</string>
				</array>
				<key>IsFullScreen</key>
				<false/>
				<key>IsMinimized</key>
				<false/>
				<key>SavedPosition</key>
				<string>rect(63,490,1070,1430)</string>
				<key>SavedPosition_v3</key>
				<string>{{490, 10}, {940, 1035}}</string>
				<key>WindowName</key>
				<string>untitled text</string>
				<key>WindowType</key>
				<string>ProjectWindow</string>
			</dict>
		</array>
		<key>UntitledWindowsState</key>
		<dict>
			<key>GrpD</key>
			<integer>1</integer>
			<key>TxtD</key>
			<integer>1</integer>
		</dict>
		<key>com.barebones.DocumentFormatVersion</key>
		<integer>2</integer>
		<key>com.barebones.DocumentType</key>
		<string>ApplicationState</string>
	</dict>
	<key>ApplicationDidQuitClean</key>
	<false/>
	<key>AutoShowFileList</key>
	<true/>
	<key>BBEditRegisteredOwner:14.0</key>
	<string>Anthony Nelzin-Santos</string>
	<key>BBEditSerialNumber:14.0</key>
	<string>BEE140-F43CV-U36DU-Q2KQW</string>
	<key>BBEditorFont</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwRGxwdHh8lVSRudWxs0g0O
	DxBWJGNsYXNzXxAaTlNGb250RGVzY3JpcHRvckF0dHJpYnV0ZXOACIAC0xITDRQXGldO
	Uy5rZXlzWk5TLm9iamVjdHOiFRaAA4AEohgZgAWABoAHXxATTlNGb250U2l6ZUF0dHJp
	YnV0ZV8QE05TRm9udE5hbWVBdHRyaWJ1dGUjQDAAAAAAAABeU0ZNb25vLVJlZ3VsYXLS
	ICEiI1okY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaIiJFhOU09iamVjdNIg
	ISYnXxAQTlNGb250RGVzY3JpcHRvcqIoJF8QEE5TRm9udERlc2NyaXB0b3IACAARABoA
	JAApADIANwBJAEwAUQBTAF0AYwBoAG8AjACOAJAAlwCfAKoArQCvALEAtAC2ALgAugDQ
	AOYA7wD+AQMBDgEXASQBJwEwATUBSAFLAAAAAAAAAgEAAAAAAAAAKQAAAAAAAAAAAAAA
	AAAAAV4=
	</data>
	<key>BBPreferencesSelectedModuleIdentifier</key>
	<string>BBAppearancePreferences</string>
	<key>ColorSchemeFormatVersion</key>
	<integer>4</integer>
	<key>CopiedPreferencesToNewKeys_v1</key>
	<true/>
	<key>CopiedPreferencesToNewKeys_v2</key>
	<true/>
	<key>CopiedPreferencesToNewKeys_v3</key>
	<true/>
	<key>CopiedPreferencesToNewKeys_v4</key>
	<true/>
	<key>DefaultLanguageNameForNewDocuments</key>
	<string>markdown</string>
	<key>DefaultLanguageNameForUnmappedFiles</key>
	<string>markdown</string>
	<key>EditingWindowShowGutter</key>
	<false/>
	<key>EditingWindowShowPageGuide</key>
	<false/>
	<key>EditorSoftWrap</key>
	<true/>
	<key>EmulateEmacsKeyBindings</key>
	<false/>
	<key>KeepHistoricalBackups</key>
	<false/>
	<key>LastLaunchOSVersion</key>
	<string>Version 11.4 (Build 20F71)</string>
	<key>ListDisplayFont</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAChC1UkbnVsbAgRGiQpMjdJTFFT
	VQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>ListDisplayFontSize</key>
	<real>11</real>
	<key>MakeBackup</key>
	<false/>
	<key>NSAutomaticCapitalizationEnabled</key>
	<false/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>NSAutomaticTextCompletionEnabled</key>
	<false/>
	<key>NSFontPanelAttributes</key>
	<string>1, 5</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 224.000000, 258.000000, NO, NO</string>
		<string>0.000000, 259.000000, 224.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSTableView Columns v3 CustomLanguageExtensionMappingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrgsMEx4fICEiIyQqNDU2VSRu
	dWxs0g0ODxJaTlMub2JqZWN0c1YkY2xhc3OiEBGAAoAKgA3TFA0OFRkdV05TLmtleXOj
	FhcYgAOABIAFoxobHIAGgAeACIAJWklkZW50aWZpZXJVV2lkdGhWSGlkZGVuVnN1ZmZp
	eCNAYQAAAAAAAAjSJSYnKFokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaIn
	KVhOU09iamVjdNMUDQ4rLx2jFhcYgAOABIAFozAxHIALgAyACIAJWGxhbmd1YWdlI0Bz
	0AAAAAAA0iUmNzheTlNNdXRhYmxlQXJyYXmjNzkpV05TQXJyYXkACAARABoAJAApADIA
	NwBJAEwAUgBUAGMAaQBuAHkAgACDAIUAhwCJAJAAmACcAJ4AoACiAKYAqACqAKwArgC5
	AL8AxgDNANYA1wDcAOcA8AD9AQABCQEQARQBFgEYARoBHgEgASIBJAEmAS8BOAE9AUwB
	UAAAAAAAAAIBAAAAAAAAADoAAAAAAAAAAAAAAAAAAAFY
	</data>
	<key>NSTableView Columns v3 CustomLanguageSettingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrgsMEx4fICEiIyQqNDU2VSRu
	dWxs0g0ODxJaTlMub2JqZWN0c1YkY2xhc3OiEBGAAoAKgA3TFA0OFRkdV05TLmtleXOj
	FhcYgAOABIAFoxobHIAGgAeACIAJWklkZW50aWZpZXJVV2lkdGhWSGlkZGVuXGxhbmd1
	YWdlTmFtZSNAY8AAAAAAAAjSJSYnKFokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlv
	bmFyeaInKVhOU09iamVjdNMUDQ4rLx2jFhcYgAOABIAFozAxHIALgAyACIAJUCNAcyAA
	AAAAANIlJjc4Xk5TTXV0YWJsZUFycmF5ozc5KVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFIAVABjAGkAbgB5AIAAgwCFAIcAiQCQAJgAnACeAKAAogCmAKgAqgCsAK4AuQC/
	AMYA0wDcAN0A4gDtAPYBAwEGAQ8BFgEaARwBHgEgASQBJgEoASoBLAEtATYBOwFKAU4A
	AAAAAAACAQAAAAAAAAA6AAAAAAAAAAAAAAAAAAABVg==
	</data>
	<key>NSTableView Sort Ordering v2 CustomLanguageExtensionMappingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABqQsMEhscHR4fJVUkbnVsbNIN
	Dg8RWk5TLm9iamVjdHNWJGNsYXNzoRCAAoAI0xMNDhQXGldOUy5rZXlzohUWgAOABKIY
	GYAFgAaAB1pJZGVudGlmaWVyWUFzY2VuZGluZ1ZzdWZmaXgJ0iAhIiNaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiIiRYTlNPYmplY3TSICEmJ15OU011dGFibGVB
	cnJheaMmKCRXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABSAFQAXgBkAGkAdAB7AH0A
	fwCBAIgAkACTAJUAlwCaAJwAngCgAKsAtQC8AL0AwgDNANYA4wDmAO8A9AEDAQcAAAAA
	AAACAQAAAAAAAAApAAAAAAAAAAAAAAAAAAABDw==
	</data>
	<key>NSTableView Sort Ordering v2 CustomLanguageSettingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABqQsMEhscHR4fJVUkbnVsbNIN
	Dg8RWk5TLm9iamVjdHNWJGNsYXNzoRCAAoAI0xMNDhQXGldOUy5rZXlzohUWgAOABKIY
	GYAFgAaAB1pJZGVudGlmaWVyWUFzY2VuZGluZ1xsYW5ndWFnZU5hbWUJ0iAhIiNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiIiRYTlNPYmplY3TSICEmJ15OU011
	dGFibGVBcnJheaMmKCRXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABSAFQAXgBkAGkA
	dAB7AH0AfwCBAIgAkACTAJUAlwCaAJwAngCgAKsAtQDCAMMAyADTANwA6QDsAPUA+gEJ
	AQ0AAAAAAAACAQAAAAAAAAApAAAAAAAAAAAAAAAAAAABFQ==
	</data>
	<key>NSTableView Supports v2 CustomLanguageExtensionMappingsList</key>
	<true/>
	<key>NSTableView Supports v2 CustomLanguageSettingsList</key>
	<true/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame BBPreferences</key>
	<string>685 297 669 607 0 0 1920 1055 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>560 455 800 448 0 0 1920 1055 </string>
	<key>NavbarShowCounterpartButton</key>
	<false/>
	<key>NavbarShowDocumentIcon</key>
	<false/>
	<key>NavbarShowDocumentNavigation</key>
	<true/>
	<key>NavbarShowFunctionMenu</key>
	<false/>
	<key>NavbarShowMarkerMenu</key>
	<false/>
	<key>PreferencesSnapshotDate</key>
	<date>2021-07-21T07:35:29Z</date>
	<key>ReadTextEncodingFallbacks</key>
	<array>
		<integer>0</integer>
	</array>
	<key>RecentItemsData</key>
	<dict>
		<key>Notebook</key>
		<array>
			<dict>
				<key>Date</key>
				<date>2021-07-20T11:50:31Z</date>
				<key>DocumentClass</key>
				<string>Notebook</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9vayQDAAAAAAQQMAAAAFtxe7X/UMBIuwZW
					Msn2NDq6feb7QMd64rJJaSyKsiQtIAIAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAN
					AAAAAQEAAGFudGhvbnluZWx6aW4AAAAHAAAA
					AQEAAExpYnJhcnkAEwAAAAEBAABBcHBsaWNh
					dGlvbiBTdXBwb3J0AAYAAAABAQAAQkJFZGl0
					AAARAAAAAQEAAE5vdGVzLmJibm90ZWJvb2tk
					AAAAGAAAAAEGAAAQAAAAIAAAADgAAABIAAAA
					ZAAAAHQAAAAIAAAABAMAAJ5YAAAAAAAACAAA
					AAQDAAAwdB4AAAAAAAgAAAAEAwAAN3QeAAAA
					AAAIAAAABAMAADh0HgAAAAAACAAAAAQDAAAG
					mEsBAAAAAAgAAAAEAwAAcJ1LAQAAAAAYAAAA
					AQYAALAAAADAAAAA0AAAAOAAAADwAAAAAAEA
					AAgAAAAABAAAQcNTd/6DhjwYAAAAAQIAAAIA
					AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAE
					AwAABAAAAAAAAAAEAAAAAwMAAPYBAAAIAAAA
					AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRv
					c2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAE
					AABBwd5EgAAAACQAAAABAQAAQzEzRDRFMjUt
					MEM1RS00OTZBLUI2RDAtRDBDM0JEMUMyRjVC
					GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
					AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwA
					AAD+////AQAAAAAAAAAQAAAABBAAAJAAAAAA
					AAAABRAAABABAAAAAAAAEBAAAEABAAAAAAAA
					QBAAADABAAAAAAAAAiAAAAwCAAAAAAAABSAA
					AHwBAAAAAAAAECAAAIwBAAAAAAAAESAAAMAB
					AAAAAAAAEiAAAKABAAAAAAAAEyAAALABAAAA
					AAAAICAAAOwBAAAAAAAAMCAAABgCAAAAAAAA
					AcAAAGABAAAAAAAAEcAAACAAAAAAAAAAEsAA
					AHABAAAAAAAAENAAAAQAAAAAAAAA
					</data>
					<key>FileURL</key>
					<string>file:///Users/anthonynelzin/Library/Application%20Support/BBEdit/Notes.bbnotebookd/</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>Notes.bbnotebookd</string>
				<key>URL</key>
				<string>file:///Users/anthonynelzin/Library/Application%20Support/BBEdit/Notes.bbnotebookd/</string>
			</dict>
		</array>
	</dict>
	<key>RecentItemsPrefDataUpgradedForSandbox</key>
	<true/>
	<key>SULastCheckedDate</key>
	<date>2021-07-20T11:42:15Z</date>
	<key>SelectedColorSchemeName</key>
	<string>Xcode Dark</string>
	<key>SelectedColorSchemeNameDarkMode</key>
	<string>Douce nuit 4</string>
	<key>SoftWrapStyle</key>
	<integer>2</integer>
	<key>StartupAndResumeAction</key>
	<integer>1</integer>
	<key>ToolbarShowTextOptionsMenu</key>
	<true/>
	<key>UntitledNoteCount</key>
	<integer>2</integer>
	<key>UserDeclinedSandboxAccess</key>
	<true/>
	<key>WhichAppIcon</key>
	<integer>0</integer>
	<key>~440C766D177AA515C74BF9CDB7208C61AE05C796</key>
	<data>
	Hsx7glQrvlIkOgdSVRyzt1XEz/FzOuzzbCZUq7eZExQCoivxV0fSt1fbTAxpbF6MdF4P
	zbCFo8uBjD6tVQifY9PRpCfsZ/vTp3eMlvGu78hzkrueEO0B1DypC1gtiO1RvLExVLIP
	SYc/DZnVs2oPoicxp7+4RCX0v2Xa58tR2MivWkXIAUiUf6r5g8LcOPMVCBpsn/ncPIcF
	wiclQKFB9jKoeuIFQmcepsFA+BT/3LFzQ+2AiBx/vU6ojPcgAaTh0Tozejl8g8enRiBA
	cCgmlWcoTlSR0+fpPi4VUH8MfPAwSBpyfE609D1VC/3Zkp2pwTls5fnotOsnCfrTZM9+
	4M+2r+sYVAM1CO4aYvJWz2AMxT30smahW2VPNbkiWWXehpp8NUP2VD6Npm0Q39Tt2727
	crL2OScVgFYyu+R9ocylGCukPNcW2O59VhPL8HvxfULZ0GViRM7JIzwrXev/pfpUKk6I
	AxrX2iMSvtOJtpMmCPL8+j5/pD4mFxB39GDfiIIwCse86zskQvmO/KjlHuMddulFgbNC
	IsXucHINWh2XMRtd4rsF96hehrL+FKztcD7uszXrzWwQwJTpZrmeRXY1Houg8eXm6tnU
	+fGeQ01PYxbqtzK2HUbDPN+o7NSQdvlOdb1CJyUr3smC/1y4k2HEDL1h0c46TF4pUNGZ
	+Sdo/4wqYGCr0pEr4jmgT50TPGjilWQCZvo8IpLdiW+igt4WYs8TLsI+8PairwkoXFhj
	1nM1aI4dNqeTl88kI/Td6s3o4yD1qpQpv9jkeD8F7JHwbDz1QzmfrdXBAz6owuqL1PLE
	zWy5GM91bkPp0NFEDXCVyZT8Fsfw6GYsAIYV0edY4o/fxX6PWZ8FymCcMMrfl5YYw21P
	k0zmgr2s4ptCa+kMFYHs6nuEdVNFba2Wl0/YGYw9uU+nmV9mquRrGzehbOSWQ3mHZlRZ
	GuERfQVkWmPuc+qOcEPXAQAABdYAABBAGFrA91WQFlVXMLj1Imm0acVGp+CIjHGJinNM
	4paboDXyzrQaBqZ7Fbpdehme1S0x5HbJNSUElsxS3WU2UyXsj7lnu4fop6+di53Rff4r
	uGntkXlyuUjqpNfo6GT0nYzTXQPnGQiCyQvQjWXzXXZzT50T4bX+0t7fjLkGPP7ovNH3
	ny7ckj2CmoAS/SYcLQOAM3AlE82AomfU3JhLvX6GnhYu4EDGGqKT8j+SMPGP0q3GnKPq
	5QC188cp+ANGaJ/M4f8/Q9rjdm//VwMh4LA3kHMukOhkYNHxQWfyWRVZAp6q3+kwSSAh
	cf4xJ+y9KWLNbYaBrQf0THj5WSAuSKZceluPtcn/RUKg/Aqj90NWJWKnOD40sxDTRQQH
	hr8UIM9oiN8LiVsLoZfxCC9l183goo87caHzp1KIbN6RJN9MsOnp9LMTqXoT/rMByyrW
	kjf5ucCx+zqtK5xwR+R8W+nKs43iWYslGCt6jA5tQry6apLbSR4k/ZauH2gtn9XYXYp6
	sG34/MxC83E3JGNyACvalVAZLPmtFfeE7C4/bqi2qI4rGBq6qT/h6agdEca+8nydH9Xa
	TApYll8i4y2YPjRMrEkuwW7ZodZQ6jjnNu4r45ISoSn7zKRKB0eq8n4KXdRWkS4NV/j+
	XaBbR0PX3eugVKUWaqhMI2KbhlrRepNfKe8DPq/WJhBcseeF2fo4durwGooWK5p8sxGc
	99v/RGigtddlgSfhOyl1Yh/bFbP5OKmcCaH4NQIS1FBL7jkG+22G03Nlhu1AC92eRoCN
	a28J/yGRIfa1nFIfu+tPL6eyKJUcy65rjQiPrHhzaPctyCFgf5vhj/xHBA6m1jORcvEa
	mc7EMmHxePkmpkyzkvTwiu03KQl5EBOeogbvj+Ua/KSfRMvrBqwTyUfeDndi+brOzRtb
	YwzYZMQOEuq26hkLIm0sa6U4amHfL/ThMJR/5jU5seieuY27lr7oh2xAmKdOIV6ALh4V
	iiCNRyYNhRHRoxWbpoGk
	</data>
</dict>
</plist>
